<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
	<name>TT</name>
	<description>TT Description</description>
  	<author href="http://www.mikaelwase.com" email="mikaelwase@gmail.com">Mikael Wase</author>
  	<icon src="img/tt-image.png"/>
	<access origin="http://no-ip.info" subdomains="true"/>
</widget>