body,a,textarea,div,h3, li, ul, p, h2 { margin: 0; padding: 0; }
li { list-style: none; }

body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
}

p {
	font-family: "Times New Roman";
}

#topbar {
	background: #333333;
	height: 10px;
	width: 100%;
}

.container {
	margin: 0px auto;
	width: 850px;
}

#settings-box {
	margin: 10px auto;
}

.box {
	margin-bottom: 25px;
}

.box-last {
	margin-bottom: 15px;
}

.description {
	font-size: 13px;
	margin: 5px 0px 10px;
}

.notice {
	font-size: 12px;
	font-style: italic;
}

/* FORMS */
.textfield {
	border: 1px solid #9c9c9c;
	border-radius: 3px;
	padding: 5px;
}

input.submit {
	margin-top: -10px;
	padding: 6px 12px;
}