<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
	<name>Quick Lipsum!</name>
	<description>A simple Lorem Ipsum extension to fast get different lorem ipsum pieces</description>
  	<author href="yourURL" email="yourEMail">Mikael Wase</author>
  	<icon src="lipsum.png"/>
</widget>